extends layout.pug

block content
  article.grid-container.portfolio-intro
    div
      h1 Dear Prospective Employer:

      p.lead.text-light
        | These are the projects I have worked on and successfully completed as part of my Javascript Techdegree. This is to give you an idea of what I could do for you.
  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5 #{project.project_name}
